In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

# Clean up and Create Data Frames
## Each dataframe:
- Only considers players who've played in over 25 games in the season
- Removes duplicate salary data

# 2015 Data

In [2]:
perGame = pd.read_csv('../data/player-data-wrangled/player2015/PerGame-2015wrangled.csv', header = 0)
perGame.drop_duplicates()
perGame = perGame.drop(['Unnamed: 0','Rk','Player','Tm','Age','X3P','X3PA','X3P','X3PA','X3P.','X2P','X2PA','X2P.'], axis = 1)

In [3]:
advStats = pd.read_csv('../data/player-data-wrangled/player2015/Adv-2015wrangled.csv', header = 0)
advStats.drop_duplicates()
advStats = advStats.drop(['Unnamed: 0','Rk','Player','Pos','Tm','X','X.1','Age','G','MP','X3PAr'], axis = 1)

In [4]:
plySals = pd.read_csv('../data/salary-data/fixed-average-salaries/fixed-2014.csv', header = 0)
plySals = plySals[['name','average salary']]
plySals = plySals[plySals.duplicated('name') == False].reset_index(drop=True) # remove bad data

In [5]:
df_1 = pd.merge(perGame, advStats, how ='inner', on='fix')
cols = df_1.columns.tolist()
cols = cols[:20] + cols[22:] # move fix to first column
cols.insert(0,'fix')
df_1 = df_1[cols]

In [6]:
df_2 = pd.merge(df_1, plySals, left_on = 'fix', right_on = 'name', how = 'inner')
df_2 = df_2.drop('name', axis = 1)
df_2 = df_2[df_2['G'] > 25].reset_index(drop=True)
df_2.head()

,fix,Pos,G,GS,MP,FG,FGA,FG.,eFG.,FT,...,USG.,OWS,DWS,WS,WS.48,OBPM,DBPM,BPM,VORP,average salary
0,quincyacy,PF,68,22,18.9,2.2,4.9,0.459,0.486,1.1,...,15.5,1.0,0.7,1.7,0.063,-2.3,-0.8,-3.1,-0.3,789705
1,jordanadams,SG,30,0,8.3,1.2,2.9,0.407,0.465,0.5,...,20.4,0.0,0.4,0.4,0.073,-1.8,1.2,-0.6,0.1,1404600
2,stevenadams,C,70,67,25.3,3.1,5.7,0.544,0.544,1.5,...,14.3,1.9,2.2,4.1,0.111,-1.4,1.8,0.4,1.1,2423849
3,alexisajinca,C,68,8,14.1,2.7,4.8,0.550,0.550,1.2,...,21.1,1.9,1.2,3.2,0.159,-0.5,0.6,0.2,0.5,808482
4,furkanaldemir,PF,41,9,13.2,1.0,1.9,0.513,0.513,0.3,...,8.6,0.7,0.7,1.4,0.122,-2.7,2.0,-0.7,0.2,2855153

In [7]:
df_2.to_csv('mega-2015.csv', sep=',', index=False)

# 2014 Data

In [8]:
perGame = pd.read_csv('../data/player-data-wrangled/player2014/PerGame-2014wrangled.csv', header = 0)
perGame.drop_duplicates()
perGame = perGame.drop(['Unnamed: 0','Rk','Player','Tm','Age','X3P','X3PA','X3P','X3PA','X3P.','X2P','X2PA','X2P.'], axis = 1)
advStats = pd.read_csv('../data/player-data-wrangled/player2014/Adv-2014wrangled.csv', header = 0)
advStats.drop_duplicates()
advStats = advStats.drop(['Unnamed: 0','Rk','Player','Pos','Tm','X','X.1','Age','G','MP','X3PAr'], axis = 1)
plySals = pd.read_csv('../data/salary-data/fixed-average-salaries/fixed-2013.csv', header = 0)
plySals = plySals[['name','average salary']]
plySals = plySals[plySals.duplicated('name') == False].reset_index(drop=True) # remove bad data

In [9]:
df_1 = pd.merge(perGame, advStats, how ='inner', on='fix')
cols = df_1.columns.tolist()
cols = cols[:20] + cols[22:] # move fix to first column
cols.insert(0,'fix')
df_1 = df_1[cols]

In [10]:
df_2 = pd.merge(df_1, plySals, left_on = 'fix', right_on = 'name', how = 'inner')
df_2 = df_2.drop('name', axis = 1)
df_2 = df_2[df_2['G'] > 25].reset_index(drop=True)
df_2.head()

,fix,Pos,G,GS,MP,FG,FGA,FG.,eFG.,FT,...,USG.,OWS,DWS,WS,WS.48,OBPM,DBPM,BPM,VORP,average salary
0,stevenadams,C,81,20,14.8,1.1,2.3,0.503,0.503,1.0,...,11.7,0.9,1.9,2.9,0.114,-2.1,2.4,0.3,0.7,2423849
1,arronafflalo,SG,73,73,35.0,6.4,13.8,0.459,0.522,3.8,...,23.3,4.3,1.0,5.3,0.099,1.7,-2.3,-0.6,0.9,7342500
2,alexisajinca,C,56,30,17.0,2.4,4.4,0.546,0.546,1.0,...,16.3,1.2,0.9,2.1,0.104,-1.5,0.8,-0.7,0.3,808482
3,colealdrich,C,46,2,7.2,0.7,1.3,0.541,0.541,0.6,...,13.0,0.6,0.6,1.2,0.178,-2.6,3.8,1.2,0.3,916099
4,lamarcusaldridge,PF,69,69,36.2,9.4,20.6,0.458,0.459,4.3,...,29.8,4.0,3.5,7.5,0.144,-0.4,0.7,0.3,1.5,13000000

In [11]:
df_2.to_csv('mega-2014.csv', sep=',', index=False)

# 2016 Data

In [12]:
perGame = pd.read_csv('../data/player-data-wrangled/player2016/PerGame-2016wrangled.csv', header = 0)
perGame.drop_duplicates()
perGame = perGame.drop(['Unnamed: 0','Rk','Player','Tm','Age','X3P','X3PA','X3P','X3PA','X3P.','X2P','X2PA','X2P.'], axis = 1)
advStats = pd.read_csv('../data/player-data-wrangled/player2016/Adv-2016wrangled.csv', header = 0)
advStats.drop_duplicates()
advStats = advStats.drop(['Unnamed: 0','Rk','Player','Pos','Tm','X','X.1','Age','G','MP','X3PAr'], axis = 1)
plySals = pd.read_csv('../data/salary-data/fixed-average-salaries/fixed-2015.csv', header = 0)
plySals = plySals[['name','average salary']]
plySals = plySals[plySals.duplicated('name') == False].reset_index(drop=True) # remove bad data

In [13]:
df_1 = pd.merge(perGame, advStats, how ='inner', on='fix')
cols = df_1.columns.tolist()
cols = cols[:20] + cols[22:] # move fix to first column
cols.insert(0,'fix')
df_1 = df_1[cols]
df_2 = pd.merge(df_1, plySals, left_on = 'fix', right_on = 'name', how = 'inner')
df_2 = df_2.drop('name', axis = 1)
df_2 = df_2[df_2['G'] > 25].reset_index(drop=True)
df_2.head()

,fix,Pos,G,GS,MP,FG,FGA,FG.,eFG.,FT,...,USG.,OWS,DWS,WS,WS.48,OBPM,DBPM,BPM,VORP,average salary
0,quincyacy,PF,59,29,14.8,2.0,3.6,0.556,0.600,0.8,...,13.1,1.8,0.7,2.5,0.137,0.2,0.0,0.2,0.5,1016155
1,stevenadams,C,80,80,25.2,3.3,5.3,0.613,0.613,1.4,...,12.6,4.2,2.3,6.5,0.155,0.8,1.3,2.1,2.1,2423849
2,arronafflalo,SG,71,57,33.4,5.0,11.3,0.443,0.500,1.5,...,17.9,1.8,0.9,2.7,0.055,-0.6,-1.8,-2.4,-0.2,8000000
3,alexisajinca,C,59,17,14.6,2.5,5.3,0.476,0.476,0.9,...,20.4,0.2,0.9,1.0,0.058,-4.3,-0.2,-4.5,-0.5,5050000
4,colealdrich,C,60,5,13.3,2.2,3.8,0.596,0.596,1.0,...,18.4,1.4,2.0,3.5,0.209,-1.0,5.8,4.8,1.4,1163944

In [14]:
df_2.to_csv('mega-2016.csv', sep=',', index=False)

# 2017 Data

In [15]:
perGame = pd.read_csv('../data/player-data-wrangled/player2017/PerGame-2017wrangled.csv', header = 0)
perGame.drop_duplicates()
perGame = perGame.drop(['Unnamed: 0','Rk','Player','Tm','Age','X3P','X3PA','X3P','X3PA','X3P.','X2P','X2PA','X2P.'], axis = 1)
advStats = pd.read_csv('../data/player-data-wrangled/player2017/Adv-2017wrangled.csv', header = 0)
advStats.drop_duplicates()
advStats = advStats.drop(['Unnamed: 0','Rk','Player','Pos','Tm','X','X.1','Age','G','MP','X3PAr'], axis = 1)
plySals = pd.read_csv('../data/salary-data/fixed-average-salaries/fixed-2016.csv', header = 0)
plySals = plySals[['name','average salary']]
plySals = plySals[plySals.duplicated('name') == False].reset_index(drop=True) # remove bad data

In [16]:
df_1 = pd.merge(perGame, advStats, how ='inner', on='fix')
cols = df_1.columns.tolist()
cols = cols[:20] + cols[22:] # move fix to first column
cols.insert(0,'fix')
df_1 = df_1[cols]
df_2 = pd.merge(df_1, plySals, left_on = 'fix', right_on = 'name', how = 'inner')
df_2 = df_2.drop('name', axis = 1)
df_2 = df_2[df_2['G'] > 25].reset_index(drop=True)
df_2.head()

,fix,Pos,G,GS,MP,FG,FGA,FG.,eFG.,FT,...,USG.,OWS,DWS,WS,WS.48,OBPM,DBPM,BPM,VORP,average salary
0,alexabrines,SG,68,6,15.5,2.0,5.0,0.393,0.531,0.6,...,15.9,1.2,0.9,2.1,0.096,-0.3,-2.2,-2.5,-0.1,5725000
1,stevenadams,C,80,80,29.9,4.7,8.2,0.571,0.571,2.0,...,16.2,3.3,3.1,6.5,0.130,-0.7,1.2,0.6,1.5,2423849
2,arronafflalo,SG,61,45,25.9,3.0,6.9,0.440,0.514,1.4,...,14.4,1.2,0.2,1.4,0.043,-1.4,-2.1,-3.5,-0.6,12500000
3,colealdrich,C,62,0,8.6,0.7,1.4,0.523,0.523,0.2,...,9.4,0.6,0.7,1.3,0.116,-2.0,2.6,0.6,0.4,7300000
4,lamarcusaldridge,PF,72,72,32.4,6.9,14.6,0.477,0.488,3.1,...,24.5,3.5,3.7,7.2,0.149,-0.3,1.3,1.0,1.8,21018008

In [17]:
df_2.to_csv('mega-2017.csv', sep=',', index=False)